body{
    margin:0;
    overflow:hidden;
}
#container{
    position:relative;
    overflow:hidden;
    height:95vh;
}
.editable .imageitem{
    cursor:move !important;
}
.imageitem{
    position:absolute;
    display:inline-block;
    border:solid 1px white;
}
.imageitem img{
    display: block;
}
#lock{
    margin-left:10px;
}
.navbar{
        z-index:999;
        background:#efefef;
        padding:5px;
        border-bottom:solid 1px silver;
}
input,button{
    padding:5px;
}
.rotatebtn{
    cursor:arrow !important;
    position:absolute;
    bottom:0;
    right:0;
}

.editable .imageitem:hover{
    border:solid 1px red;
}

.navbar {
    margin-bottom:0;
}