body{
    margin:0;
    overflow:hidden;
}
#container{
    position:relative;
    overflow:hidden;
    height:95vh;
}
.editable .imageitem{
    cursor:move !important;
}
.imageitem{
    position:absolute;
    display:inline-block;
    border:solid 1px white;
}
.imageitem img{
    display: block;
}
#lock{
    margin-left:10px;
    width:100px;
}
.navbar{
        z-index:999;
        background:#efefef;
        padding:5px;
        border-bottom:solid 1px silver;
}
input,button{
    padding:5px;
}
.rotatebtn{
    height:35px;
    width:35px;
    background: url(rotate.png);
    cursor:arrow !important;
    position:absolute;
    bottom:0;
    right:0;
}

.editable .imageitem:hover{
    border:solid 1px red;
}
#lock{
    font-weight: bold;
}